ion-fab-button {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 5px solid white;
}

/* ion-fab-button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 6px solid rgb(0, 0, 0);
} */

.Avatar {
  width: 70px;
  height: 70px;
  /* border: 5px solid white; */
}

/* .logo {
  display: flex;
  justify-content: center;
  width: 350px;
  margin-top: 5px;
} */

.logo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 0.5em;
}

.hallo {
  color: white;
  font-weight: 400;
  font-size: medium;
}

.history_button person_button {
  font-size: small;
}

.button-icon {
  font-size: 25px;
}

.IonFabButton {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 9px;
}
